/* Write your global styles here, in PostCSS syntax */
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    * {
        font-family: 'DM Sans', sans-serif;
    }

    body {
        @apply max-w-[1800px] min-w-[350px] mx-auto my-1 laptop:my-10 px-8 laptop:px-20
        bg-grey text-dark-grey
    }

    h2 {
        @apply text-lg font-medium uppercase
    }

    h3 {
        @apply font-bold mb-1
    }

    @font-face {
        font-family: 'DM Sans';
        src: local('DMSans'), url('/fonts/DMSans/DMSans-Regular.ttf');
        font-weight: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'DM Sans';
        src: local('DMSans'), url('/fonts/DMSans/DMSans-Medium.ttf');
        font-weight: 500;
        font-display: swap;
    }

    @font-face {
        font-family: 'DM Sans';
        src: local('DMSans'), url('/fonts/DMSans/DMSans-SemiBold.ttf');
        font-weight: 600;
        font-display: swap;
    }

    @font-face {
        font-family: 'DM Sans';
        src: local('DMSans'), url('/fonts/DMSans/DMSans-Bold.ttf');
        font-weight: bold;
        font-display: swap;
    }
}

@layer components {
    .btn {
        @apply font-bold py-2 px-7 rounded;
    }

    .btn-blue {
        @apply border border-medium-blue text-medium-blue transition ease-in-out;
    }

    .btn-blue:hover {
        @apply bg-medium-blue text-white;
    }
}




